@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2') format('woff2'),
       url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2') format('woff2'),
       url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2') format('woff2'),
       url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --red: #ec3750;
  --orange: #ff8c37;
  --yellow: #f1c40f;
  --green: #33d6a6;
  --cyan: #5bc0de;
  --blue: #338eda;
  --purple: #a633d6;
  --muted: #8492a6;
  --darker: #121217;
  --dark: #17171d;
  --darkless: #252429;
  --black: #1f2d3d;
  --steel: #273444;
  --slate: #3c4858;
  --smoke: #e0e6ed;
  --snow: #f9fafc;
  --white: #ffffff;

  font-family: 'Phantom Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--black);
  background-color: var(--snow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  min-height: 100vh;
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: color 0.125s ease-in-out;
}

a:hover {
  color: var(--red);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
}

button {
  font-family: 'Phantom Sans', sans-serif;
}

input, textarea, select {
  font-family: 'Phantom Sans', sans-serif;
}
